*{
    margin: 0;    
    padding: 0;
    
    
    
}

body{
    width: 100%;
    background: #e6d7ee;
    font-family: 'Quicksand', "Sawarabi Gothic", sans-serif;
}

.page-link{
    text-align: center;
    text-decoration: none;
    padding: 16px;
}

.link{
    margin:20px;
    background: #fefefe;
}

.link:hover{
    background: #000;
    color: #fff;
}


/*
h1{
    font-size: 36px;
    padding-left: 8px;
    margin-bottom: 16px;
    color: #555;
    font-weight: 400;
}
*/

p.visual-words{
    width: 600px;
    color: #fefefe;
    font-size: 80px;
    position: absolute;
    top:210px;
    left:12px;
    font-family:Segoe Print;
}

.top-title{
    font: 36px;
    padding-left: 18px;
    margin-bottom: 16px;
    color: #808080;
    font-weight: 400;
    border-left: 6px solid #d6e7ab;
    
}

.top-title2{
    font: 36px;
    padding-right: 18px;
    margin-bottom: 16px;
    color: #808080;
    font-weight: 400;
    border-right: 6px solid #d6e7ab;
text-align: right;
}

img{
    float: left;
}

h2{
    color: #bfa2b8;
}

p{
    margin-bottom: 16px;
    padding: 16px;
    margin-left: 5px;
    
}

/*
a.fbbutton{
    margin-top: 16px;
    margin-right: 16px;
    font-size: 16px;
    padding: 8px 32px;
    background: #506396;
    color: #f9f9f9;
    border: 1px solid #506396;
    border-radius: 5px;
    text-decoration: none;
}

a.fbbutton:hover{
    background: #f9f9f9;
    color: #506396;
    transition: 0.8s;
}

*/

.right-box{
    float: left;
    width: 288px;
    margin-left: 18px;
}

.left-box{
    float: left;
    width: 288px;
    margin-right: 18px;
}

.content{
    border-bottom: 1px solid #eee;
    padding: 16px 0;
    overflow: hidden;
    
}
.content:last-child{
    border-bottom: 0;
}

p.new{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #daeed4;
    color: white;
    text-align: center;
    line-height: 65px;
    font-size: 25px;
    position: absolute;
    right: 290px;
    top: 750px;
}

#contents1{
    position: relative;
}

#ranking{
    width:180px;
    margin-left: 50px;
  
}

#ranking h3{
    text-align: center;
    color:#fefefe;
      background: #daeed4;
    border-radius:15px;
    
}

#main{
    width: 608px;
    margin: 0 auto;
    overflow: hidden;
    background: #fff;
    padding: 16px;
    float: left;
     
}

.container{
    width: 960px;
    margin: 0 auto;
}

#header{
    width: 100%;
    overflow: hidden;
    background: #bfa2b8;
    padding: 6px 0px;
    position: fixed;
    z-index:2;
}

#header h1{
    float: left;
    color: #f9f9f9;
    margin-right: 48px;
}

nav{
    overflow: hidden;
}

nav li{
    list-style-type: none;
    float: left;
    margin-top: 2px;
}

nav a{
    font-size: 16px;
    display: block;
    text-decoration: none;
    color: #f9f9f9;
    margin: 14px 16px 0px;
    transition: 0.3s;
}

nav a:hover{
    border-bottom: 3px solid #f9f9f9 ;
}

#sidebar{
    float: left;
    width: 280px;
    margin: 0px 12px;
    background: #fff;
    padding: 8px;
}

#sidebar img{
    margin-bottom: 16px;
}

#sidebar h3{
    font-size: 20px;
    margin-bottom: 8px;
}

#sidebar p{
    font-size:16px;
}

.main-visual{
    width:1500px;
    height:500px;
    background: #fff url(chair.jpg) 0 0 no-repeat;
    background-size: cover;
    margin-bottom: 16px;
    padding-top: 60px;
    position: relative;
    
}

#return a{
    color: #ffffff;
    background-color:#d6e7ab;
    text-decoration: none;
     width: 120px;
    height: 120px;
    border-radius: 50%;
     text-align: center;
    line-height: 65px;
    font-size: 25px;
    position: fixed;
    right:2px;
    border:1px solid #d6e7ab;
    
}

#return a:hover{
    background-color: #fefefe;
    
    color:#d6e7ab;
    transition: 0.2s;
}

.animation1{
    position: relative;
    width: 300px;
    float: left;
}

#contents1 .animation1 .caption{
 position: absolute;
    padding: 20px;
    background: #daeed4;
    height: 160px;
    width: 260px;
    
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    
    /*    透明にする*/
    opacity: 0;
}

#contents1 .animation1 .caption h2{
    color:white;
    font-size: 13px;
}

#contents1 .animation1 .caption h3{
    color: white;
    font-size: 15px;
}

#contents1 .animation1:hover .caption{
    -webkit-transform: translate(8px, 8px);
    -ms-transform: translate(8px, 8px);
    -o-transform: translate(8px, 8px);
    transform: translate(8px, 8px);
    
    /*透明だったものを表示させる*/
    opacity: 1;
    
    
}
/*
.animation2{
    position: relative;
    width: 300px;
    float: left;
    
    -webkit-perspective: 500;
    -moz-perspective: 500;
    -ms-perspective: 500;
    perspective: 500;
    
    -webkit-perspective-origin: left;
    -moz-perspective-origin:left ;
    -ms-perspective-origin:left ;
    perspective-origin: left;
}

#contents2 .animation2 .caption{
    position: absolute;
    left:320px;
    padding: 20px;
    background: #e63c35;
    height: 185px;
    width: 100px;
    
    opacity: 0;
    
    -webkit-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    
    -webkit-transition: transform 0.4s, opacity 0.1s  0.3s;
    -o-transition: transform 0.4s, opacity 0.1s  0.3s;
    transition: transform 0.4s, opacity 0.1s  0.3s;
    
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    
}

#contents2 .animation2 .caption h2{
    color: white;
    font-size: 13px;
}

#contents2 .animation2 .caption h3{
    color: white;
    font-size: 15px;
}

#contents2 .animation2:hover .caption{
    
    opacity: 1;
    
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    
    -webkit-transition: transform 0.4s, opacity 0.1s;
    -o-transition: transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

#contents2 .animation2:hover img{
    -webkit-transform: translateX(25%);
    -ms-transform: translateX(25%);
    -o-transform: translateX(25%);
    transform: translateX(25%);
}

#contents2 .animation2 img{
    -webkit-transition: transform 0.4s;
    -o-transition: ;transform 0.4s
    transition: transform 0.4s;
    
}
*/